.column {
    min-height: 25em;
    background:lightgrey;
}

.row .column:nth-child(odd){
    background:lightpink;
}

@media(min-width: 600px) {
    .row {
        display:flex;
        flex-wrap:wrap;
    }
    .column {
        flex-basis: 50%;
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    .column {
        flex-basis: auto;
    }
}