.intro h1 {
	font-size: 1em;
	background: chartreuse;
}

@media(max-width: 600px) {
	.intro h1 {
		font-size: 1.5em;
		background: yellow;
	}
}
@media(min-wdith: 1200px) {
	.intro h1 {
		color:white;
		background: purple;
	}
}

@media(min-width: 1300px) {
	.intro h1 {
		font-size:10em;
	}
}

header {
}

.summary {

}

.preamble {

}

.sidebar {

}

#zen-supporting {

}

.explanation, .particpation, .benefits, .requirements {

}

footer {

}