*, *:before, *:after {
    box-sizing: border-box;
}
.intro {
    position: relative;
    width: 70vw;
    left: 100px;
    background: rgba(0,0,255,.25);
    margin-bottom:5px;
    margin-right:300px;

}

#zen-supporting {
    background: rgba(255,0,0,.25);
    margin-top:100px;
    margin-right:30vw;
}

header {

}

.summary {

}

.preamble {

}

.sidebar {
    position:fixed;
    top: 10px;
    right: 10px;
    background:rgba(0,255,0.75);
}

#zen-supporting {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.explanation, .particpation, .benefits {
    flex: 1; 
    flex-basis: 400px;
}

[role=banner] {
    flex: 2;
}

.requirements {
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 400px;  
    flex: 2 0 0;
}

.benefits {
    float: right;
    max-width:400px;
    margin: 0px 25px 0px 25px;
    padding: 2em;
    background: rgba (0,0,255,.25);
    border: 10px solid aqua;

}


footer {
    flex-basis: 15px;

}
